body {
  text-align: center; }

h1 {
  color: blue; }

.board {
  width: 370px;
  height: 360px;
  margin: 0px auto;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap; }

.cell {
  width: 35px;
  height: 35px;
  border: .5px solid white;
  background-color: #bbdefb; }

.alive {
  background-color: #ffff8d !important; }

.dead {
  background-color: red; }

.onceAlive {
  background-color: blue; }
