$dead: #757575;
$alive: #ffff8d;
$onceAlive: ##212121;


body {
  text-align: center;

}

h1 {
  color: blue;
}

.board {
  width: 370px;
  height: 360px;
  // border: 2px solid black;
  margin: 0px auto;
  padding-top: 10px;
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  // overflow:auto;
}

.cell {
  width: 35px;
  height: 35px;
  border: .5px solid white;
  background-color: $dead;

}

.alive {

  background-color: $alive !important;
  // margin: -5px 0;
  // overflow:auto;

}

.dead {
  background-color: $dead;
}

.onceAlive {
  background-color: $onceAlive;
}
